<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
</head>
<body>
  <h2>Unas breves palabras para una gran trayectoria...</h2>
  <p>Aunque el día tenga solamente 24 horas, Elon Musk es:
    <hr>
    <span>Cofundador de</span>
    <ul>
      <li>PayPal</li>
      <li>SpaceX</li>
      <li>Hyperloop</li>
      <li>SolarCity</li>
      <li>The Boring Company</li>
      <li>Neuralink</li>
      <li>OpenAI</li>
    </ul>
    <span>Además...</span>
    <ul>
      <li>Director general de SpaceX y Tesla Motors</li>
      <li>Presidente de Solar City</li>
      <li>Copresidente de OpenAI</li>
    </ul>
    <p>Está en la primera posición en la lista de las personas más ricas del mundo, según la revista <a href="https://es.wikipedia.org/wiki/Forbes" target="blank">Forbes​</a></p>
  </p>

</body>
</html>