<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
</head>
<body>
  <div class="left">
    <h1>Unas breves palabras para una gran trayectoria...</h1>
    <p style="font-size: 24px;">Aunque para Elon Musk el día tiene también 24 horas... es:  </p>
      
      <h3>Cofundador de</h3>
      <div>
        <ul>
          <li><a href="https://es.wikipedia.org/wiki/PayPal" target="blank">PayPal</a></li>
          <li><a href="https://es.wikipedia.org/wiki/SpaceX" target="blank">SpaceX</a></li>
          <li><a href="https://es.wikipedia.org/wiki/Hyperloop" target="blank">Hyperloop</a></li>
          <li><a href="https://es.wikipedia.org/wiki/SolarCity" target="blank">SolarCity</a></li>
          <li><a href="https://es.wikipedia.org/wiki/The_Boring_Company" target="blank">The Boring Company</a></li>
          <li><a href="https://es.wikipedia.org/wiki/Neuralink" target="blank">Neuralink</a></li>
          <li><a href="https://es.wikipedia.org/wiki/OpenAI" target="blank">OpenAI</a></li>
        </ul>
        <h3>Además...</h3>
        <ul>
          <li>Director general de SpaceX y <a href="https://es.wikipedia.org/wiki/Tesla_Motors">Tesla Motors</a></li>
          <li>Presidente de <a href="https://es.wikipedia.org/wiki/SolarCity">SolarCity</a></li>
          <li>Copresidente de <a href="https://es.wikipedia.org/wiki/OpenAI">OpenAI</a></li>
        </ul>
      </div>
      <p>Está en la primera posición en la lista de las personas más ricas del mundo, según la revista <a href="https://es.wikipedia.org/wiki/Forbes" target="blank">Forbes​</a></p>
  </div>


</body>
</html>